@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #1e1e1e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cart-modal-active {
  @apply bg-white absolute right-0 top-0 h-[75%] w-full flex flex-col items-center justify-between pt-10 pb-10  ease-in-out duration-500
}

.cart-modal-inactive {
  @apply bg-white absolute right-0 top-0 h-0 w-full flex flex-col items-center justify-between pt-10 pb-24 ease-in-out duration-500 opacity-0 -z-10
}

.primary-button {			
  @apply bg-green-500 px-4 rounded-md
}

input {
  color: black;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}